/* @headerBlue: #00619E;
 @headerRed: #D34343;
 @whitish: #FFFFFF;*/

.alert-modal-class{
  color: black;
}

.alert-modal-class .modal-header{
  background: #00619E;
  color: #FFFFFF;
}

a.list-anchor{
  display: inline-block;
  margin: 5px 5px;
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

a.list-anchor:hover{
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
